{{>layout/header}}

<!--
 https://www.juso.go.kr/addrlink/devAddrLinkRequestSubmit.do
 -->

<head>

    <style>
        #requestAddrContainer{
            padding:10px;
        }
        #form{
            padding:10px;
            margin-bottom: 20px;
        }
        #search{
            display:inline-block;
            width:85%;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 1px black;
            padding:5px;
        }
        #search:focus { outline: none; }
        #searchAction{
            display: inline-block;
            background: white;
            border:none;
            padding:10px;
            width:10%;
        }
        #list{
            padding:10px;
        }
        .resultTable{
            margin-top:15px;
            width:100%;
            float:left;
        }
        .roadaddr{
            font-weight: 800;
            width:100%;
            float:left;
        }
        .basicaddr{
            width:80%;
            float:left;
        }
        .zipcode{
            width:10%;
            float:right;
        }
    </style>
</head>

<div id="requestAddrContainer">
    <form name="form" id="form" method="post" onsubmit="return false;">

        <input type="hidden" name="currentPage" value="1"/> <!-- 요청 변수 설정 (현재 페이지. currentPage : n > 0) -->
        <input type="hidden" name="countPerPage" value="10"/><!-- 요청 변수 설정 (페이지당 출력 개수. countPerPage 범위 : 0 < n <= 100) -->
        <input type="hidden" name="resultType" value="json"/> <!-- 요청 변수 설정 (검색결과형식 설정, json) -->
        <input type="hidden" name="confmKey" value="devU01TX0FVVEgyMDIwMTIwMzEwNDE0NDExMDQ5NjA="/><!-- 요청 변수 설정 (승인키) -->
        <input id="search" class="" type="text" name="keyword" value=""/><!-- 요청 변수 설정 (키워드) -->
        <!-- Standard button -->
        <button id="searchAction" type="button" class="" onClick="getAddr();">검색</button>

    </form>
    <div id="list" class="col-xs-12" ></div><!-- 검색 결과 리스트 출력 영역 -->

    <a href="/" class="btn btn-secondary" role="button">뒤로가기</a>
</div>



{{>layout/footer}}

<script language="javascript">


    var searchText = document.getElementById('search');
    searchText.addEventListener('keydown', function(event){
        var evt_code = (window.netscape) ? ev.which : event.keyCode;
        if (evt_code == 13) {
            event.keyCode = 0;
            event.preventDefault();
            getAddr();
        }

    })

    function getAddr(){
        // 적용예 (api 호출 전에 검색어 체크)
        if (!checkSearchedWord(document.form.keyword)) {
            return ;
        }

        $.ajax({
            url :"https://www.juso.go.kr/addrlink/addrLinkApiJsonp.do"  //인터넷망
            ,type:"post"
            ,data:$("#form").serialize()
            ,dataType:"jsonp"
            ,crossDomain:true
            ,success:function(jsonStr){
                $("#list").html("");
                var errCode = jsonStr.results.common.errorCode;
                var errDesc = jsonStr.results.common.errorMessage;
                if(errCode != "0"){
                    alert(errCode+"="+errDesc);
                }else{
                    if(jsonStr != null){
                        makeListJson(jsonStr);
                    }
                }
            }
            ,error: function(xhr,status, error){
                alert("에러발생");
            }
        });
    }

    function makeListJson(jsonStr){

        var size = jsonStr.results.juso.length;

        var htmlStr = "";
        htmlStr += "<div>검색결과 ( "+ size +"건 )</div>";

        $(jsonStr.results.juso).each(function(){
            htmlStr += "<div class='resultTable'>";
            /*필수*/
            htmlStr += "<div class='roadaddr'>"+this.roadAddr+"</div>";
            // htmlStr += "<td>"+this.roadAddrPart1+"</td>";
            // htmlStr += "<td>"+this.roadAddrPart2+"</td>";
            /*필수*/
            htmlStr += "<div class='basicaddr'>지번 : "+this.jibunAddr+"</div>";
            // htmlStr += "<td>"+this.engAddr+"</td>";
            /*필수*/
            htmlStr += "<div class='zipcode'>"+this.zipNo+"</div>";
            // htmlStr += "<td>"+this.admCd+"</td>";
            // htmlStr += "<td>"+this.rnMgtSn+"</td>";
            // htmlStr += "<td>"+this.bdMgtSn+"</td>";
            // htmlStr += "<td>"+this.detBdNmList+"</td>";
            /** API 서비스 제공항목 확대 (2017.02) **/
            // htmlStr += "<td>"+this.bdNm+"</td>";
            // htmlStr += "<td>"+this.bdKdcd+"</td>";
            // htmlStr += "<td>"+this.siNm+"</td>";
            // htmlStr += "<td>"+this.sggNm+"</td>";
            // htmlStr += "<td>"+this.emdNm+"</td>";
            // htmlStr += "<td>"+this.liNm+"</td>";
            // htmlStr += "<td>"+this.rn+"</td>";
            // htmlStr += "<td>"+this.udrtYn+"</td>";
            // htmlStr += "<td>"+this.buldMnnm+"</td>";
            // htmlStr += "<td>"+this.buldSlno+"</td>";
            // htmlStr += "<td>"+this.mtYn+"</td>";
            // htmlStr += "<td>"+this.lnbrMnnm+"</td>";
            // htmlStr += "<td>"+this.lnbrSlno+"</td>";
            // htmlStr += "<td>"+this.emdNo+"</td>";
            htmlStr += "</div>";
        });

        $("#list").html(htmlStr);
    }

    //특수문자, 특정문자열(sql예약어의 앞뒤공백포함) 제거
    function checkSearchedWord(obj){
        if(obj.value.length >0){
            //특수문자 제거
            var expText = /[%=><]/ ;
            if(expText.test(obj.value) == true){
                alert("특수문자를 입력 할수 없습니다.") ;
                obj.value = obj.value.split(expText).join("");
                return false;
            }

            //특정문자열(sql예약어의 앞뒤공백포함) 제거
            var sqlArray = new Array(
                    //sql 예약어
                    "OR", "SELECT", "INSERT", "DELETE", "UPDATE", "CREATE", "DROP", "EXEC",
                    "UNION",  "FETCH", "DECLARE", "TRUNCATE"
            );

            var regex;
            for(var i=0; i<sqlArray.length; i++){
                regex = new RegExp( sqlArray[i] ,"gi") ;

                if (regex.test(obj.value) ) {
                    alert("\"" + sqlArray[i]+"\"와(과) 같은 특정문자로 검색할 수 없습니다.");
                    obj.value =obj.value.replace(regex, "");
                    return false;
                }
            }
        }
        return true ;
    }

    function enterSearch() {
            //event.keyCode = 0;
            getAddr();

    }
</script>