{{>layout/header}}

<div>

    <div class="col-xs-12" style="text-align:center; margin-top:30px;">
        ☆소통하기 위해 SNS 로그인☆
    </div>
    <div class="col-xs-12" style="margin-top:30px;">
        <a href="/oauth2/authorization/naver">
            <img src="https://static.nid.naver.com/oauth/big_g.PNG?version=js-2.0.1" height="60" style="display:block; margin:0px auto; width:277.44px">
        </a>
    </div>
    <div class="col-xs-12" style="margin-top:30px;">
        <a href="/oauth2/authorization/google">
            <div id="customBtn" class="customGPlusSignIn" style="display:block; margin:0px auto; width:277.44px;">
                <span class="icon"></span>
                <span class="buttonText">구글로 로그인하기</span>
            </div>
        </a>
    </div>
</div>

{{>layout/footerJs}}
{{>layout/footer}}